# Mongodb is noSQL database which contains JSON documents- dictionary type records. Contains document type info

Doesn't have  a strict schema like in MySQL.
Can change records.
First install pymongo using 'pip install pymongo' in anaconda prompt".
In MySQL,most tableas are connected with each other via foreign key and as such if we make changes in one db, we would need to make changes in the other dbs as well but this challenge is not there in MongoDB.

Few basic CRUD options.
* collection.insert_one() - will insert one record in collection.
* collection.insert_many() - will insert many records in collection.
* collection.find() - will give us an idea about the cursor in collection, won't return any records.
* collection.find_one() - will return first record from collection.
* for record in collection.find() print(record) - will return all records from collection.
* for record in collection.find({conditions}) print(record) - will return all records from collection matching the reqd conditions.  
* collection.update_one() - update first record in collection.
* collection.update_many()
* collection.replace_one()

In [28]:



import pymongo

In [29]:
#Connecting to the client - it includes 'protocol-mongodb,host name - 127.0.0.1,port name - 27017'"

client = pymongo.MongoClient("mongodb://127.0.0.1:27017/")

In [30]:
#Creating a database 'Student'"
mydb = client["Student"]

In [31]:
#Creating a collection 'studentinformation'" -Collection in mongodb is similar to table in mySQL.

studinfo = mydb.studentinformation

In [32]:
#Creating below record"

records={'firstname':'Anju',
         'Lastname': 'Raj',
         'Department': 'Maths',
         'class':12,
         'Age': 29}

In [14]:
# Insert the record into collection 'studentinformation'
studinfo.insert_one(records)

In [33]:
#Creating many records. ALways use a list to create many records.
records=[{'firstname':'Simi',
         'Lastname': 'Raj',
         'Department': 'Science',
         'class':11,
          'Age': 24},
         {'firstname':'Dhan',
         'Lastname': 'Raj',
         'Department': 'Maths',
         'class':12,
          'Age': 28},
         {'firstname':'Ananya',
         'Lastname': 'Raj',
         'Department': 'Maths',
         'class':12,
          'Age': 15}]

In [34]:
# Insert above records into collection 'studentinformation'
studinfo.insert_many(records)

# Querying data

In [35]:

studinfo.find_one()

{'_id': ObjectId('5f0ab8dd8129486bfd0af92d'),
 'firstname': 'Simi',
 'Lastname': 'Raj',
 'Department': 'Science',
 'class': 11,
 'Age': 24}

In [36]:
#below query will say us where the cursor or pointer is located.
print(studinfo.find())

<pymongo.cursor.Cursor object at 0x000001FD98B5CB48>

In [37]:
# below query will give us all the records. similar to select * in SQL.
for record in studinfo.find():
    print(record)

{'_id': ObjectId('5f0ab8dd8129486bfd0af92d'), 'firstname': 'Simi', 'Lastname': 'Raj', 'Department': 'Science', 'class': 11, 'Age': 24}
{'_id': ObjectId('5f0ab8dd8129486bfd0af92e'), 'firstname': 'Dhan', 'Lastname': 'Raj', 'Department': 'Maths', 'class': 12, 'Age': 28}
{'_id': ObjectId('5f0ab8dd8129486bfd0af92f'), 'firstname': 'Ananya', 'Lastname': 'Raj', 'Department': 'Maths', 'class': 12, 'Age': 15}

In [38]:
studinfo.find({})

In [22]:
# We always use 'for record in db.find()' instead of 'db.find()' in mongo db because db.find() will return only the cursor
#position

# Query Operators

In [39]:
# below query will give " Select * from db where firstname = 'Simi'"

for record in studinfo.find({'firstname':'Simi'}):
    print(record)

{'_id': ObjectId('5f0ab8dd8129486bfd0af92d'), 'firstname': 'Simi', 'Lastname': 'Raj', 'Department': 'Science', 'class': 11, 'Age': 24}

In [40]:
# I want records having department as maths or science. Use $in
# select * from db where Deparment in ('Maths','Science')
for record in studinfo.find({'Department':{'$in':['Maths','Science']}}):
    print(record)

{'_id': ObjectId('5f0ab8dd8129486bfd0af92d'), 'firstname': 'Simi', 'Lastname': 'Raj', 'Department': 'Science', 'class': 11, 'Age': 24}
{'_id': ObjectId('5f0ab8dd8129486bfd0af92e'), 'firstname': 'Dhan', 'Lastname': 'Raj', 'Department': 'Maths', 'class': 12, 'Age': 28}
{'_id': ObjectId('5f0ab8dd8129486bfd0af92f'), 'firstname': 'Ananya', 'Lastname': 'Raj', 'Department': 'Maths', 'class': 12, 'Age': 15}

In [47]:
# I want records having department as science or age 28. 
# select * from db where Deparment='Science' or Age = 28
# AND operator
for record in studinfo.find({'$or': [{'Department':'Science'}, {'Age':28}]}):
    print(record)

{'_id': ObjectId('5f0ab8dd8129486bfd0af92d'), 'firstname': 'Simi', 'Lastname': 'Raj', 'Department': 'Science', 'class': 11, 'Age': 24}
{'_id': ObjectId('5f0ab8dd8129486bfd0af92e'), 'firstname': 'Dhan', 'Lastname': 'Raj', 'Department': 'Maths', 'class': 12, 'Age': 28}

In [41]:
# I want records having department as maths and age less than 28. Use $lt = less than.
# select * from db where Deparment='Maths' and Age < 28
# AND operator
for record in studinfo.find({'Department':'Maths', 'Age':{'$lt':28}}):
    print(record)

{'_id': ObjectId('5f0ab8dd8129486bfd0af92f'), 'firstname': 'Ananya', 'Lastname': 'Raj', 'Department': 'Maths', 'class': 12, 'Age': 15}

In [42]:
# I want records having either department as science or age less than 28. Use $or  and $lt = less than.
# select * from db where Deparment='Science' or Age < 28
# OR operator
for record in studinfo.find({'$or':[{'Department':'Science'},{'Age':{'$lt':28}}]}):
    print(record)

{'_id': ObjectId('5f0ab8dd8129486bfd0af92d'), 'firstname': 'Simi', 'Lastname': 'Raj', 'Department': 'Science', 'class': 11, 'Age': 24}
{'_id': ObjectId('5f0ab8dd8129486bfd0af92f'), 'firstname': 'Ananya', 'Lastname': 'Raj', 'Department': 'Maths', 'class': 12, 'Age': 15}

In [43]:
# I want records having both department as science and age less than 28. Use $and  and $lt = less than.
# select * from db where Deparment='Science' and Age < 28
# and operator
for record in studinfo.find({'$and':[{'Department':'Science'},{'Age':{'$lt':28}}]}):
    print(record)

{'_id': ObjectId('5f0ab8dd8129486bfd0af92d'), 'firstname': 'Simi', 'Lastname': 'Raj', 'Department': 'Science', 'class': 11, 'Age': 24}

In [45]:
# I want records having both department as Maths and age greater than 30. Use $and  and $gt = greater than.
# select * from db where Deparment='Maths' or Age > 30
# OR operator and greater than.
# No such records available in collection.
for record in studinfo.find({'$and':[{'Department':'Maths'},{'Age':{'$gt':30}}]}):
    print(record)

# Create nested collection

In [53]:
studattr = mydb.studentattributes

In [54]:
studattr.insert_many([
          {'firstname':'Simi',
         'Location': 'Bangalore',
         'BMI':{'Age': 24,'height':151,'weight':53}
                      },
         {'firstname':'Dhan',
         'Location': 'Pune',
         'BMI':{'Age': 30,'height':167,'weight':72}
        },
         {'firstname':'Ananya',
         'Location': 'Chennai',
         'BMI':{'Age': 35,'height':160,'weight':60}}])

In [57]:
for record in studattr.find({}):
    print(record)

{'_id': ObjectId('5f0abe2f8129486bfd0af933'), 'firstname': 'Simi', 'Location': 'Bangalore', 'BMI': {'Age': 24, 'height': 151, 'weight': 53}}
{'_id': ObjectId('5f0abe2f8129486bfd0af934'), 'firstname': 'Dhan', 'Location': 'Pune', 'BMI': {'Age': 30, 'height': 167, 'weight': 72}}
{'_id': ObjectId('5f0abe2f8129486bfd0af935'), 'firstname': 'Ananya', 'Location': 'Chennai', 'BMI': {'Age': 35, 'height': 160, 'weight': 60}}

In [56]:
for record in studattr.find({'BMI':{'Age': 24,'height':151,'weight':53}}):
    print(record)

{'_id': ObjectId('5f0abe2f8129486bfd0af933'), 'firstname': 'Simi', 'Location': 'Bangalore', 'BMI': {'Age': 24, 'height': 151, 'weight': 53}}

In [63]:
for record in studattr.find({'BMI.Age':35}):
    print(record)
    # if u want to find records matching atleast one condition of nested query, use ".cond".

{'_id': ObjectId('5f0abe2f8129486bfd0af935'), 'firstname': 'Ananya', 'Location': 'Chennai', 'BMI': {'Age': 35, 'height': 160, 'weight': 60}}

# Updating JSON documents.
Updating records in mongodb collection.

#### Update_one

In [64]:
studattr.update_one({'firstname':'Simi'},{'$set':{'BMI.Age':26}})  # change age of simi from 24 to 26.

In [65]:
for record in studattr.find({}):
    print(record)

{'_id': ObjectId('5f0abe2f8129486bfd0af933'), 'firstname': 'Simi', 'Location': 'Bangalore', 'BMI': {'Age': 26, 'height': 151, 'weight': 53}}
{'_id': ObjectId('5f0abe2f8129486bfd0af934'), 'firstname': 'Dhan', 'Location': 'Pune', 'BMI': {'Age': 30, 'height': 167, 'weight': 72}}
{'_id': ObjectId('5f0abe2f8129486bfd0af935'), 'firstname': 'Ananya', 'Location': 'Chennai', 'BMI': {'Age': 35, 'height': 160, 'weight': 60}}

In [67]:
studattr.update_one({'firstname':'Dhan'},{'$set':{'BMI.Age':31,'Location':'Bangalore'}})  # change age of dhan from 30 to 31 and
# Location from Pune to Bangalore.

In [68]:
for record in studattr.find({}):
    print(record)

{'_id': ObjectId('5f0abe2f8129486bfd0af933'), 'firstname': 'Simi', 'Location': 'Bangalore', 'BMI': {'Age': 26, 'height': 151, 'weight': 53}}
{'_id': ObjectId('5f0abe2f8129486bfd0af934'), 'firstname': 'Dhan', 'Location': 'Bangalore', 'BMI': {'Age': 31, 'height': 167, 'weight': 72}}
{'_id': ObjectId('5f0abe2f8129486bfd0af935'), 'firstname': 'Ananya', 'Location': 'Chennai', 'BMI': {'Age': 35, 'height': 160, 'weight': 60}}

In [71]:
studattr.update_one({'firstname':'Dhan'},{'$set':{'BMI.Age':29,'Location':'Pune'},'$currentDate':{'lastmodified':True}})  
# change age of dhan from 31 to 39 and
# and get the last modified date.

In [72]:
for record in studattr.find({}):
    print(record)

{'_id': ObjectId('5f0abe2f8129486bfd0af933'), 'firstname': 'Simi', 'Location': 'Bangalore', 'BMI': {'Age': 26, 'height': 151, 'weight': 53}}
{'_id': ObjectId('5f0abe2f8129486bfd0af934'), 'firstname': 'Dhan', 'Location': 'Pune', 'BMI': {'Age': 29, 'height': 167, 'weight': 72}, 'lastmodified': datetime.datetime(2020, 7, 12, 8, 16, 51, 212000)}
{'_id': ObjectId('5f0abe2f8129486bfd0af935'), 'firstname': 'Ananya', 'Location': 'Chennai', 'BMI': {'Age': 35, 'height': 160, 'weight': 60}}

#### Update_many

In [77]:
studattr.update_many({'BMI.Age':{'$gt': 26}},{'$set':{'Location': 'London'},
                                          '$currentDate':{'lastmodified':True}})  

# Change location of records having age greater than 26 to London and also update the latest updated timestamp.

In [78]:
for record in studattr.find({}):
    print(record)

{'_id': ObjectId('5f0abe2f8129486bfd0af933'), 'firstname': 'Simi', 'Location': 'Bangalore', 'BMI': {'Age': 26, 'height': 151, 'weight': 53}}
{'_id': ObjectId('5f0abe2f8129486bfd0af934'), 'firstname': 'Dhan', 'Location': 'London', 'BMI': {'Age': 29, 'height': 167, 'weight': 72}, 'lastmodified': datetime.datetime(2020, 7, 12, 8, 24, 44, 548000)}
{'_id': ObjectId('5f0abe2f8129486bfd0af935'), 'firstname': 'Ananya', 'Location': 'London', 'BMI': {'Age': 35, 'height': 160, 'weight': 60}, 'lastmodified': datetime.datetime(2020, 7, 12, 8, 24, 44, 548000)}

#### Replace_one

In [79]:
# Replacing record of simi with array of interests.
studattr.replace_one({'firstname': 'Simi'},
                     {'firstname': 'Simi',
                     'interests':[{'indoor':'ludo','outdoor':'cricket'},
                                  {'academic':'writing','art':'drawing'}]})

In [80]:
for record in studattr.find({}):
    print(record)

{'_id': ObjectId('5f0abe2f8129486bfd0af933'), 'firstname': 'Simi', 'interests': [{'indoor': 'ludo', 'outdoor': 'cricket'}, {'academic': 'writing', 'art': 'drawing'}]}
{'_id': ObjectId('5f0abe2f8129486bfd0af934'), 'firstname': 'Dhan', 'Location': 'London', 'BMI': {'Age': 29, 'height': 167, 'weight': 72}, 'lastmodified': datetime.datetime(2020, 7, 12, 8, 24, 44, 548000)}
{'_id': ObjectId('5f0abe2f8129486bfd0af935'), 'firstname': 'Ananya', 'Location': 'London', 'BMI': {'Age': 35, 'height': 160, 'weight': 60}, 'lastmodified': datetime.datetime(2020, 7, 12, 8, 24, 44, 548000)}

## You will see all the above updates in MongoDB compass as well.